{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Ajouter un commentaire{% endblock %}

{% block body %}

{{ form_start(form) }}

    <div class="comment-form-label">{{form_label(form.title) }}</div>
    <div class="comment-form-input">{{form_widget(form.title) }}</div>

    <div class="comment-form-label">{{form_label(form.content) }}</div>
    <div class="comment-form-input">{{form_widget(form.content) }}</div>

    <div class="comment-form-label">{{form_label(form.author) }}</div>
    <div class="comment-form-input">{{form_widget(form.author) }}</div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}

{% endblock %}
