{{ form_start(form) }}

    <div>{{form_label (form.name) }}</div>
    <div>{{form_widget (form.name) }}</div>
    <div class="platform-form-help">{{form_help (form.name) }}</div>

    <button type="submit" class="btn btn-warning">{{ button_label|default('Ajouter') }}</button>

{{ form_end(form)  }}