<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Game Review - {% endblock %}</title>
        {% block stylesheets %}
        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
        {% endblock %}
    </head>
    <body class="container-md">
        <header>
            <div class="main_title_container">
                <h1 class= "main_title">Game Review</h1>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('review_browse') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('review_browse') }}">Games</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Genres</a>
                        <div class="dropdown-menu" style="">
                        {% for genre in genres %}
                            <a class="dropdown-item" href="#">{{genre.name}}</a>
                        {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown nav-item-console">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Consoles</a>
                        <div class="dropdown-menu" style="">
                        {% for platform in platforms %}
                            <a class="dropdown-item" href="#">{{platform.name}}</a>
                        {% endfor %}
                        </div>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Back-Office</a>
                        <div class="dropdown-menu" style="">
                            <a class="dropdown-item" href="#">Reviews</a>
                            <a class="dropdown-item" href="">Genre</a>
                            <a class="dropdown-item" href="">Consoles</a>
                            <a class="dropdown-item" href="">Utilisateurs</a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav nav-tabs">
                    {% if app.user %}
                        <li class="nav-item mr-3">{{ app.user.username }}</li>
                        <li class="nav-item">
                            <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Deconnexion</a>
                        </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-outline-success" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            </nav>
        </header>
        <main>
            <div class="container-main">
                <div class="reviews-container">
                    {% block body %}
                    {% endblock %}
                </div>
                <div class="aside-container">
                    <aside>
                        <div class="card mb-3">
                        <h3 class="card-header">Consoles</h3>
                        <ul class="list-group list-group-flush">
                            {% for platform in platforms %}
                                <a href="" class="list-group-item">{{platform.name}}</a>
                            {% endfor %}
                        </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </main>

        {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>
